# Environment Variables

## Amazon RDS Credentials
RDS:
  DB_HOST: "<RDS Database Host>"
  DB_USER: "<RDS Database Username>"
  DB_PASS: "<RDS Database Password>"
  DB_PORT: <RDS Database Port>
  DB_NAME: "<RDS Database Name>"

## Local Database Credentials
LOCAL:
  DB_HOST: "<Local Database Host>"
  DB_USER: "<Local Database Username>"
  DB_PASS: "<Local Database Password>"
  DB_PORT: <Local Database Port>
  DB_NAME: "<Local Database Name>"